
.main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.columns {
  display: flex;
  gap: 32px;
}

.mainColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.secondaryColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 200px;
  flex-shrink: 0;
}

.header {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: start;
}

.buttons {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
